body {
    padding: 30px;
    background-color: #333;
    font-family: 'Poppins', sanssserif;
    max-width: 1168px;
    margin: auto;
}

header {    
    position: fixed;
    background-color: #222222;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    z-index: 1000; /* garante que fique acima dos outros elementos */ 
}

.nav {    
    display: flex;
    color: #8bc5bf;
    max-width: 1168px;
    margin: auto;
    margin-top: 20px;
}

.left-header {
    flex: 1;
}

#content {
    margin-top: 120px;
}

.name {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.subName {
    font-weight: normal;
    margin-block-start: 0em;    
}


.right-header {
    display: flex;
    flex-wrap: wrap;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.right-header-line {
    width: 100%;     
    justify-content: flex-end; 
    text-align: right;
}

.right-header a {
    text-decoration: none;
    color: #8bc5bf;
}

.right-header a:hover {
    color: #8bc5bf;
    scale: 1.05;
}

.size-40 {
    height: 40px;
    width: auto;
}

.downloadoIcon {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.social-icons{
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 5px;

}

.ResumeBtn {
    display: inline-flex;
    border: #8bc5bf 2px solid;
    border-radius: 5px;
    transform-origin: 50% 50%;
    height: 30px;
    padding: 3px 10px;
}

.ResumeBtn span {
    color: #8bc5bf;
    line-height: 30px;
    font-size: 20px;
    margin-right: 5px;
}

.profile {
    display: inline-flex;
    flex-direction: row;
    align-items: center;    
}

.profileImage {
    width: 200px;
    aspect-ratio: 1 / 1;
    border: solid #8bc5bf 4px;
    border-radius: 50%;
    object-fit: cover;
    
}

.profileText {
    color: #8bc5bf;
    font-size: 40px;
    margin-left: 60px;
}

.margin-left-10 {
    margin-left: 10px;
}

.projects {
    color: #8bc5bf;
    margin-top: 40px;
}

.SubTittle {
    font-size: 30px;
    /* same as gap */
    margin-left: 10px;
}

.projectCards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* same as gap */
    margin-left: 10px;
}

.projectCard {
    background-color: #222222;
    
    /* minus same as gap */
    width: calc(50% - 10px);
    transition: filter 0.3s ease;
    filter: saturate(35%);
}

.projectCard:hover {
    filter: saturate(100%);
    cursor: pointer;
    scale: 1.005;
}

.projectImage {
    width: 100%;
    height: 100%;
}

.projectInfo {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.section {
    margin-top: 40px;
    color: #8bc5bf;
    justify-content: space-between;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.skill {
    border: solid #8bc5bf 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

.additionalCards {
    display: flex;
    flex-flow: row;
    flex-direction: column;
    gap: 5px;
}

.additionalCard {
    border: solid #8bc5bf 1px;
    gap: 5px;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
}